@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menuTransition {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textAppearance {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes socialsSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes socialsSlideInReversed {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes socialsBoxShadow {
  from {
    box-shadow: 0;
  }
  to {
    box-shadow: 0 pxToRem(2) pxToRem(12) pxToRem(1) rgba(29, 51, 107, 0.25);
  }
}

@keyframes dropdown {
  0% {
    max-height: 0;
    max-width: 0;
  }
  10% {
    max-height: 0;
  }
  50% {
    max-width: 360px;
  }
  100% {
    max-height: 400px;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotateReversed {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes pressButton {
  0% {
    fill: #66d6a0;
  }
  50% {
    fill: #41a173;
  }
  100% {
    fill: #66d6a0;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(7%);
  }
  40% {
    transform: translateX(-7%);
  }
  60% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes accordionPart1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes accordionPart2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes accordionPart3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes diagonalShake {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5%, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes cubeEdgeShakePart1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cubeEdgeShakePart2 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(4%, 4%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes cubeEdgeShakePart3 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-4%, 4%);
  }
  100% {
    transform: translate(0);
  }
}
