.dropdown {
  position: relative;

  &__menu-link {
    align-items: center;
		
		@include desktop {
      display: flex;
    }

		&:hover {
			&::after {
				transition: transform .5s ease;
				color: var(--pallete-primary-light);
				transform: translateY(pxToRem(-2)) rotate(135deg);
			}
		}

    &::after {
      @include desktop {
        content: "";
        display: block;
        width: pxToRem(7);
        height: pxToRem(7);
        border-bottom: pxToRem(2) solid var(--pallete-primary-light);
        border-left: pxToRem(2) solid var(--pallete-primary-light);
        margin-bottom: pxToRem(-4);
				transition: transform .5s ease;
        transform: translateY(pxToRem(-5)) rotate(-45deg);
      }
    }
	}

	&:hover {
		&::after {
			border-bottom: pxToRem(2) solid var(--pallete-primary-light);
			border-left: pxToRem(2) solid var(--pallete-primary-light);
			transition: 0.25s ease;
		}
		
		.menu__link {
			color: var(--pallete-primary-light);
		}
	}

	&__list {
		z-index: 1;

		@include media(0, $desktop) {
			position: relative;
			display: block;
			border: 0;
			box-shadow: none;
		}

		@include desktop {
			box-shadow: pxToRem(2) pxToRem(4) pxToRem(16) rgba(0, 0, 0, 0.25);
			border-radius: 0 0 pxToRem(16) pxToRem(16);
			border-top: pxToRem(3) solid var(--pallete-primary-light);
			position: absolute;
			margin-left: pxToRem(11);
			top: pxToRem(36);
			height: max-content;
			overflow: hidden;
			width: max-content;
			max-width: 360px;
			display: none;
			max-height: 400px;

			@include light-theme {
				background-color: var(--pallete-common-grey-100);
			}

			@include dark-theme {
				background-color: var(--pallete-common-grey-900);
			}
		}
	}

	&__item {
		position: relative;

		@include desktop {
			white-space: nowrap;
		}
	}

	&__link {
		display: block;
		line-height: 1rem;
		transition: color .25s ease;
		color: var(--pallete-primary-main);

		&:hover {
			color: var(--pallete-primary-light);
		}

		@include media(0, $desktop) {
			font-size: pxToRem(13);
			font-weight: normal;
			padding: pxToRem(3.75) pxToRem(46) pxToRem(3.75) pxToRem(66);
		}

		@include desktop {
			font-weight: bold;
			font-size: pxToRem(16);
			padding: pxToRem(10) pxToRem(16);

			&:last-child {
				border-radius: 0 0 pxToRem(16) pxToRem(16);
			}
		}
	}
}
