.dropdown {
	position: relative;
	&::after {
		position: absolute;
		content: '';
		width: 6px;
		height: 6px;
		transform: rotate(-45deg);
		right: 0px;
		top: 12px;
		border-bottom: 2px solid $pallete-primary-main;
		border-left: 2px solid $pallete-primary-main;
	}
	&:hover {
		&::after {
			border-bottom: 2px solid $pallete-primary-light;
			border-left: 2px solid $pallete-primary-light;
			transition: .25s ease;
		}
		.dropdown__content {
			display: block;
		}
		.main-menu__link {
			color: $pallete-primary-light;
		}
	}
}

.dropdown__content {
	z-index: 1;
	display: none;
	box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.4);
	background-color: #fff;
	border-top: 3px solid $pallete-primary-light;
	border-radius: 0 0 16px 16px;
	padding: 5px 12px 15px 16px;
	width: max-content;
	& .dropdown__link {
		color: $pallete-primary-main;
		&:hover {
			color: $pallete-primary-light;
		}
	}
	position: absolute;
}