.dropdown {
	position: relative;
	&__menu-link {
    align-items: center;
		&::after {
			@include desktop {
				display: inline-flex;
				content: '';
				width: pxToRem(7);
				height: pxToRem(7);
				transform: rotate(-45deg);
				border-bottom: pxToRem(2) solid #0D6EB7;
				border-left: pxToRem(2) solid #0D6EB7;
				margin-bottom: pxToRem(-4);
				margin-left: pxToRem(4);
				transform: translateY(pxToRem(-5)) rotate(-45deg);
			}
			@include desktop {
				display: block;
				transform: rotate(-45deg);
			}
		}
	}
	&:hover {
		&::after {
			border-bottom: pxToRem(2) solid $pallete-primary-light;
			border-left: pxToRem(2) solid $pallete-primary-light;
			transition: .25s ease;
		}
		.main-menu__link {
			color: #0D6EB7;
		}
	}
}

.dropdown__content {
	z-index: 1;
	display: none;
	box-shadow: pxToRem(2) pxToRem(4) pxToRem(16) rgba(158, 158, 158, 0.4);
	background-color: #fff;
	border-radius: 0 0 pxToRem(16) pxToRem(16);
	margin-left: pxToRem(15);
	margin-top: pxToRem(-25);
	padding: pxToRem(14) pxToRem(16);
	margin: 0;
	& .dropdown__link {
		color: $pallete-primary-main;
		&:hover {
			color: $pallete-primary-light;
		}
	}
	position: relative;
}