.dropdown {
	position: relative;
	&__menu-link {
    align-items: center;
		&::after {
      display: block;
			content: '';
			width: 8px;
			height: 8px;
      // background-color: #0D6EB7;
			transform: rotate(-45deg);
			border-bottom: 2px solid #0D6EB7;
			border-left: 2px solid #0D6EB7;
      margin-left: 3px;
			margin-bottom: 7px;
		}
	}
	&:hover {
		&::after {
			border-bottom: 2px solid #0D6EB7;
			border-left: 2px solid #0D6EB7;
			transition: .25s ease;
		}
		// .dropdown__content {
		// 	display: block;
		// }
		.main-menu__link {
			color: #0D6EB7;
		}
	}
}

.dropdown__content {
	z-index: 1;
	display: none;
	box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.4);
	background-color: #fff;
	border-radius: 0 0 16px 16px;
	margin-top: -26px;
	margin-left: 11px;
	padding: 5px;
	width: max-content;
	margin: 0;
	& .dropdown__link {
		color: $pallete-primary-main;
		&:hover {
			color: $pallete-primary-light;
		}
	}
	position: absolute;
}