// Fonts
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../../../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../../../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../../../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../../../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("../../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../../../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("../../../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("../../../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Harabara";
  src: url("../../../fonts/Harabara/Harabara.eot");
  src: local("Harabara"), url("../../../fonts/Harabara/Harabara.woff2") format("woff2"),
    url("../../../fonts/Harabara/Harabara.woff") format("woff"),
    url("../../../fonts/Harabara/Harabara.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../../fonts/OpenSans/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../../../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../../../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("../../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
