* {
  box-sizing: border-box;
  text-decoration: none;
  *::before,
  *::after {
    box-sizing: border-box;
  }

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

html {
  @include dark-theme {
    background-color: var(--pallete-common-grey-900);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  @include dark-theme {
    background-color: var(--pallete-common-grey-900);
  }
}

input[type="submit"]:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

label,
select {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

img {
  vertical-align: middle;
}

body {
  font-family: $font-family-text;
  min-height: 100vh;
  transition: 0s;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  cursor: auto;
  background: transparent;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  @include placeholder-color(#a9a9a9);

  &.not-valid {
    border-color: #f00;
  }
}

textarea {
  resize: none;
}

a,
button,
label {
  outline: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  &:active {
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &:hover {
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

p {
  &:last-child {
    margin: 0;
  }
}

label,
select {
  cursor: pointer;
}

button  {
  font-family: $font-family-text;
}

h1,
h2,
h3 {
  font-family: $font-family-heading;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  color: var(--pallete-primary-dark);
  margin: 0;
  @include media(0, $desktop-extra) {
    line-height: pxToRem(38);
    letter-spacing: 0.05em;
  }
  @include media(0, $mobile-extra-small) {
    font-size: pxToRem(22);
  }
  @include media($mobile-extra-small, $tablet) {
    font-size: pxToRem(24);
  }
  @include media($tablet, $desktop-extra) {
    font-size: pxToRem(33);
  }
  @include desktop-extra {
    font-size: pxToRem(44);
    letter-spacing: 0.06em;
    line-height: pxToRem(60);
  }
}

h2 {
  color: var(--pallete-primary-dark);
  margin: 0;
  @include media(0, $tablet) {
    font-size: pxToRem(24);
    line-height: pxToRem(24);
  }
  @include media($tablet, $desktop-extra) {
    line-height: pxToRem(30);
    font-size: pxToRem(30);
  }
  @include desktop-extra {
    line-height: pxToRem(36);
    font-size: pxToRem(36);
    letter-spacing: 0.1em;
  }
}

h3,
.h3 {
  color: var(--pallete-primary-light);
  letter-spacing: 0.05em;
  @include media(0, $desktop) {
    font-size: pxToRem(20);
  }
  @include desktop {
    font-size: pxToRem(24);
  }
}

h4,
.h4 {
  font-family: $font-family-text;
  font-weight: bold;
  line-height: pxToRem(28);
  letter-spacing: 0;
  color: var(--pallete-common-grey-900);
  @include dark-theme {
    color: var(--empty-star-color);
  }
  @include media(0, $tablet) {
    font-size: pxToRem(18);
  }
  @include tablet {
    font-size: pxToRem(24);
  }
}

p,
span {
  // font-family: $font-family-text;
  font-weight: normal;
  font-style: normal;
}

p {
  line-height: pxToRem(26);
  color: var(--pallete-common-grey-900);
  @include dark-theme {
    color: var(--empty-star-color);
  }
}

.btn {
  display: block;
  font-size: pxToRem(16);
  line-height: pxToRem(37);
  font-weight: bold;
  border: pxToRem(2) solid var(--pallete-secondary-main);
  border-radius: var(--border-radius);
  width: pxToRem(160);
  min-height: pxToRem(42);
  cursor: pointer;
  transition: 0.25s;
}