// Placeholder color
@mixin placeholder-color($color) {
  &::-moz-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &::-webkit-input-placeholder {
    color: $color !important;
    opacity: 1 !important;
  }
  &::placeholder {
    color: $color !important;
    opacity: 1 !important;
  }

  &:focus::placeholder {
    color: transparent !important;
  }
  &:focus::-moz-placeholder {
    color: transparent !important;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent !important;
  }
}

// Media queries
@mixin media($min, $max) {
  @media (min-width: pxToRem($min, em)) and (max-width: pxToRem($max - 0.1, em)) {
    @content;
  }
}

@mixin media-min($size) {
  @media (min-width: pxToRem($size, em)) {
    @content;
  }
}

@mixin media-max($size) {
  @media (max-width: pxToRem($size - 0.1, em)) {
    @content;
  }
}

@mixin desktop-extra() {
  @media (min-width: pxToRem($desktop-extra, em)) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: pxToRem($desktop, em)) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: pxToRem($tablet, em)) {
    @content;
  }
}

@mixin mobile() {
  @media (min-width: pxToRem($mobile, em)) {
    @content;
  }
}

@mixin light-theme() {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin dark-theme() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
