.alignleft {
  float: left;
  margin: 0 pxToRem(10) pxToRem(5) 0;
}

.alignright {
  float: right;
  margin: 0 0 pxToRem(5) pxToRem(10);
}

.aligncenter {
  display: block;
  margin: 0 auto pxToRem(5);
}

.center {
  text-align: center;
}

.page-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: pxToRem(1390);
  margin: 0 auto;
  @include media(0, $desktop) {
    padding: env(safe-area-inset-top) calc(30px + env(safe-area-inset-left));
  }

  @include media($desktop, $desktop-extra) {
    padding: 0 pxToRem(40);
  }

  @include desktop-extra {
    padding: 0 pxToRem(15);
  }

  // @media screen and (max-width: $mobile){
  //   padding: 0 pxToRem(30);
  // }
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%; /* 16:9 */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media print {
  a {
    text-decoration: underline;
  }
  [href]:not([href^="#"]):after {
    content: " (" attr(href) ") ";
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(pxToRem(1), pxToRem(1), pxToRem(1), pxToRem(1));
  width: pxToRem(1);
  height: pxToRem(1);
  white-space: nowrap;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

.fancybox-container {
  transition: 0s;

  * {
    transition: 0s;
  }
}

.screen-reader-text {
  display: none !important;
}
