.center {
  text-align: center;
}

.page-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: pxToRem(1390);
  margin: 0 auto;
  @include media(0, $desktop) {
    padding: env(safe-area-inset-top) calc(30px + env(safe-area-inset-left));
  }

  @include media($desktop, $desktop-extra) {
    padding-left: pxToRem(40);
    padding-right: pxToRem(40);
  }

  @include desktop-extra {
    padding-left: pxToRem(15);
    padding-right: pxToRem(15);
  }
}

@media print {
  a {
    text-decoration: underline;
  }
  [href]:not([href^="#"]):after {
    content: " (" attr(href) ") ";
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
