// Colors
$pallete-primary-main: #0D6EB7;
$pallete-primary-light: #00A4E8;
$pallete-primary-dark: #194484;
$pallete-secondary-main: #06B25F;
$pallete-common-grey-900: #242424;
$pallete-common-grey-100: #FFFFFF;
$border-radius: 6px;

$color-black: #1a1a1a;
$color-red: #f2571f;

// Media queries
$desktop-extra: 1280px;
$desktop: 992px;
$tablet: 768px;
$mobile: 576px;

$mobile-middle: 475px;
$mobile-small: 375px;
$mobile-extra-small: 340px;