@function pxToRem($size, $postfix: rem) {
  // @return $size / $base-size * 1 + $postfix;
  @return $size + px;
}

$base-size: 16;

:root {
  --pallete-secondary-main: #00672e;
  --pallete-secondary-light: #66d6a0;
  --pallete-common-grey-900: #242424;
  --pallete-common-grey-700: #4c4c4c;
  --pallete-common-grey-100: #ffffff;
  --empty-star-color: #e1e1e1;

  // Main colors for light theme
  @media (prefers-color-scheme: light) {
    --pallete-primary-main: #0056b1;
    --pallete-primary-light: #0075db;
    --pallete-primary-dark: #194484;
    --pallete-proposal-background-light: #276ed8;
    --pallete-sevices-cards-background-light: #f4f8fd;
    --pallete-projects-background-light: #f6f9fd;
  }

  // Main colors for dark theme
  @media (prefers-color-scheme: dark) {
    --pallete-primary-main: #1b9dff;
    --pallete-primary-light: #04b6ff;
    --pallete-primary-dark: #0a54c3;
    --border-color: #353434;
    --pallete-sevices-cards-background-dark: #242932;
    --pallete-services-card-selected: #151414;
    --pallete-footer-background: #112b52;
    --pallete-projects-background-dark: #353535;
  }

  --border-radius: 6px;
}

// Media queries
$desktop-extra-large: 1600;
$desktop-extra: 1280;
$desktop: 992;
$tablet: 768;
$mobile: 576;

$mobile-small: 375;
$mobile-extra-small: 340;

// Main fonts
$sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-heading: "Harabara", $sans-serif;
$font-family-text: "Montserrat", $sans-serif;
