@function pxToRem($size, $postfix: rem) {
  @return $size / $base-size * 1 + $postfix;
  // @return $size + px
}

$base-size: 16;

// Colors
$pallete-primary-main: #0D6EB7;
$pallete-primary-light: #00A4E8;
$pallete-primary-dark: #194484;
$pallete-background: #276ED8;
$pallete-secondary-main: #06B25F;
$pallete-secondary-light: #66d6a0;
$pallete-common-grey-900: #242424;
$pallete-common-grey-700: #4C4C4C;
$pallete-common-grey-100: #FFFFFF;
$border-radius: 6px;

$color-black: #1a1a1a;
$color-red: #f2571f;

// Media queries
$desktop-extra-large: pxToRem(1600, em);
$desktop-extra: pxToRem(1280, em);
$desktop: pxToRem(992, em);
$tablet: pxToRem(768, em);
$mobile: pxToRem(576, em);

$mobile-middle: pxToRem(475, em);
$mobile-small: pxToRem(375, em);
$mobile-extra-small: pxToRem(340, em);

//rating in stars for reviews section
$star-color: #E1E1E1;
$star-fill-color: $pallete-secondary-main;
