#bg-icon-1 {
  animation: moveIcon1 2s 0s infinite ease forwards;
}

#bg-icon-2 {
  animation: moveIcon2 2s 0s infinite ease forwards;
}

#bg-icon-3 {
  animation: moveIcon3 2s 0s infinite ease forwards;
}