.contacts {
  padding: 30px 0;
  @include desktop-extra {
    padding: 20px 0;
  }
  &__title {
    @include desktop-extra {
      margin-bottom: 68px;
    }
  }

  &__wrapper {
    margin-top: 85px;
    @include desktop {
      margin-top: 82px;
    }
  }

  &__content {
    text-align: center;
    .contacts__subtitle {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      margin-top: 14px;
      @include tablet {
        font-size: 24px;
      }
      @include desktop-extra {
        margin-bottom: 0;
      }
    }
    
    .contacts__text {
      margin-top: 35px;
      @include desktop-extra {
        margin: 18px 0;
      }
    }
    
  }

  &__info {
    margin-top: 31px;
    @include desktop {
      display: flex;
      justify-content: space-around;
      gap: 30px;
    }
    @include desktop-extra {
      justify-content: center;
      margin-top: 92px;
      gap: 100px;
    }
    .contacts__list {
      @include media-min($mobile-small) {
        margin-left: 6px;
      }
      @include desktop {
        margin-left: 86px;
      }
      @include desktop-extra {
        margin-left: 0;
        margin-right: 89px;
      }
      .contacts__item {
        display: flex;
        margin-bottom: 24px;
        align-items: center;
        &:first-child {
          margin-bottom: 14px;
          align-items: baseline;
          @include desktop-extra {
            margin-bottom: 25px;
            margin-top: 13px;
            margin-left: 0;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        &-icon {
          width: 20px;
          height: 20px;
          margin-left: -3px;
        }

        &-text {
          font-family: "Montserrat";
          font-size: 18px;
          line-height: 30px;
          text-decoration: none;
          color: #242424;
          padding: 0 5px;

          @include media-min($mobile-small) {
            padding: 0 18px;
          }
          width: 100%;
          @include media-min($mobile-small) {
            font-size: 20px;
          }
        }
      }
    }
  }
  &__form-wrapper {
    margin-top: 67px;
    // background-image: url(../../../img/bg-icon1.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align: -webkit-center;
    text-align: -moz-center;
    @include desktop {
      margin-top: 0;
    }
    .contacts__form-bg-icon-container {
      display: none;
      @include desktop-extra {
        display: block;
        position: absolute;
        z-index: -1;
      }
    }
    #bg-icon-container-1 {
      left: -102px;
      top: -38px;
      #bg-icon-1 {
        height: 154px;
        width: 149px;
      }
    }
    #bg-icon-container-2 {
      bottom: 30px;
      left: -122px;
      #bg-icon-2 {
        width: 135px;
        height: 108px;
      }
    }
    #bg-icon-container-3 {
      right: -83px;
      top: -39px;
      #bg-icon-3 {
        width: 126px;
        height: 229px;
        top: 0;
        right: 0;
      }
    }
    // &::before, &::after {
    //   content: '';
    //   position: absolute;
    //   z-index: -1;
    //   background-repeat: no-repeat;
    // }
    // &::before {
    //   width: 148px;
    //   height: 153px;
    //   bottom: 0;
    //   left: 0;
    //   background-image: url(../../../img/bg-icon2.svg);
    // }
    // &::after {
    //   width: 126px;
    //   height: 229px;
    //   right: 0;
    //   top: 0;
    //   background-image: url(../../../img/bg-icon3.svg);
    // }
    @include desktop-extra {
      margin-top: 0;
      // padding: 50px 80px;
    }
    .contacts__form {
      text-align: center;
      background: #FFFFFF;
      box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
      border-radius: 6px;
      padding: 41px 22px;
      max-width: 420px;
      @include desktop-extra {
      padding: 65px 39px;
      }
      &-field {
        font-family: "Open Sans";
        width: 100%;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 10px 16px;
        color: #242424;
        &:last-child {
          font-family: "Montserrat";
          margin-bottom: 0;
          margin-top: 10px;
          border: 2px solid $pallete-secondary-main;
          box-sizing: border-box;
          border-radius: $border-radius;
          background-color: transparent;
          padding: 13px 0;
          background-color: $pallete-secondary-main;
          font-size: 18px;
          font-weight: bold;
          color: #FFF;
          @include desktop-extra {
            width: 339px;
          }
          &:hover {
            color: $pallete-secondary-main;
            background-color: transparent;
          }
        }
        &::placeholder {
          font-family: "Open Sans";
          color: #A9A9A9;
        }
      }
    }
  }
}