.faq {
  padding-top: 47px;
  padding-bottom: 47px;
  position: relative;
  .container {
    max-width: 1016px;
  }
  @include desktop-extra {
    // margin-top: 265px;
    padding-top: 79px;
    padding-bottom: 79px;
  }
  &__title {
    margin-bottom: 23px;
    @include desktop-extra {
      margin-bottom: 53px;
    }
  }
  &__list {
    position: relative;
    &::before, &::after {
      content: "";
      top: 24px;
      bottom: 24px;
      width: 19px;
      overflow: hidden;
      position: absolute;
      @include desktop-extra {
        width: 34px;
        top: 21px;
        bottom: 21px;
      }
    }
    &::before {
      border-bottom: 6px solid $pallete-secondary-light;
      border-bottom-left-radius: 15px;
      border-left: 6px solid $pallete-secondary-light;
      border-top: 6px solid $pallete-secondary-light;
      border-top-left-radius: 13px;
      left: -24px;
      @include desktop-extra {
        left: -15px;
      }
    }
    &::after {
      border-bottom: 6px solid $pallete-secondary-light;
      border-bottom-right-radius: 15px;
      border-right: 6px solid $pallete-secondary-light;
      border-top: 6px solid $pallete-secondary-light;
      border-top-right-radius: 13px;
      right: -24px;
      @include desktop-extra {
        border-bottom-right-radius: 14px;
        border-top-right-radius: 14px;
        right: -15px;
      }
    }
    .faq__item {
      
      &-title {
        display: flex;
        font-size: 18px;
        font-family: "Montserrat";
        font-weight: 600;
        line-height: 28px;
        color: $pallete-primary-main;
        padding: 15px 0;
        border-radius: 5px;
        flex: none;
        @include desktop-extra {
          padding: 14px 41px;
          font-size: 20px;
        }
        &::before {
          content: '';
          display: block;
          margin-right: 8px;
          width: 12px;
          height: 12px;
          margin-left: 4px;
          margin-top: 8px;
          border-radius: 50%;
          background-color: $pallete-primary-main;
          flex: none;
        }
      }
    }
  }
  &__extended-list {
    margin-top: 67px;
    @include desktop-extra {
      margin-top: 56px;
      padding-left: 42px;
    }
    .faq__extended-item {
      margin-bottom: 39px;
      position: relative;
      @include desktop-extra {
        margin-bottom: 36.5px;
      }
      &:first-child {
        margin-bottom: 34px;
        @include desktop-extra {
          margin-bottom: 41px;
        }
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 130%;
        height: 1px;
        border: 1px solid $pallete-primary-main;
        opacity: 0.5;
        bottom: -15px;
        left: -15%;
        @include desktop {
          left: 15px;
          bottom: -22px;
          width: 90.7%;
        }
      }

      .faq__extended-item-title {
        display: flex;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: bold;
        line-height: 28px;
        margin: 0;
        color: $pallete-common-grey-900;
        // padding: 10px;
        margin-bottom: 10px;
        @include tablet {
          font-size: 20px;
        }
        @include desktop-extra {
          margin-bottom: 16px;
        }
        &::before {
          content: "";
          display: block;
          flex: none;
          color: $pallete-common-grey-900;
          width: 14px;
          height: 14px;
          margin-left: 8px;
          margin-top: 7px;
          margin-right: 17px;
          border-bottom: 4px solid $pallete-common-grey-900;
          border-left: 4px solid $pallete-common-grey-900;
          transform: rotate(-45deg);
          transform-origin: 45% 45%;
        }
      }
      &-subtitle {
        display: none;
        padding-left: 40px;
        line-height: 26px;
        // margin-top: 10px;
        @include desktop-extra {
          padding-right: 45px;
          padding-left: 40px;
          // margin-top: 8px;
        }
      }
    }
    .active {
      & > p {
        display: block;
      }
      & > h4::before {
        transform: rotate(135deg) translate(1px, -3px)!important;
      }
    }
  }
}