.faq {
  padding-top: pxToRem(47);
  padding-bottom: pxToRem(47);
  position: relative;
  .container {
    max-width: pxToRem(1016);
  }
  @include desktop-extra {
    padding-top: pxToRem(79);
    padding-bottom: pxToRem(79);
  }
  &__title {
    margin-bottom: pxToRem(23);
    @include desktop-extra {
      margin-bottom: pxToRem(53);
    }
  }
  &__list {
    position: relative;
    &::before, &::after {
      content: "";
      top: pxToRem(24);
      bottom: pxToRem(28);
      width: pxToRem(19);
      overflow: hidden;
      position: absolute;
      @include desktop-extra {
        width: pxToRem(34);
        top: pxToRem(21);
        bottom: pxToRem(21);
      }
    }
    &::before {
      border-bottom: pxToRem(6) solid $pallete-secondary-light;
      border-bottom-left-radius: pxToRem(15);
      border-left: pxToRem(6) solid $pallete-secondary-light;
      border-top: pxToRem(6) solid $pallete-secondary-light;
      border-top-left-radius: pxToRem(13);
      left: pxToRem(-24);
      @include desktop-extra {
        left: pxToRem(-15);
      }
    }
    &::after {
      border-bottom: pxToRem(6) solid $pallete-secondary-light;
      border-bottom-right-radius: pxToRem(15);
      border-right: pxToRem(6) solid $pallete-secondary-light;
      border-top: pxToRem(6) solid $pallete-secondary-light;
      border-top-right-radius: pxToRem(13);
      right: pxToRem(-24);
      @include desktop-extra {
        border-bottom-right-radius: pxToRem(14);
        border-top-right-radius: pxToRem(14);
        right: pxToRem(-15);
      }
    }
    .faq__item {
      margin-right: pxToRem(30);
      margin-left: pxToRem(30);
      &-title {
        display: inline-flex;
        font-size: pxToRem(18);
        font-family: "Montserrat", $sans-serif;
        font-weight: 600;
        line-height: pxToRem(28);
        color: $pallete-primary-main;
        padding: pxToRem(15) 0;
        border-radius: pxToRem(5);
        flex: none;
        gap: pxToRem(8);
        align-items: center;
        @include desktop-extra {
          padding: pxToRem(14) pxToRem(15);
          font-size: pxToRem(20);
        }
        &::before {
          content: '';
          display: block;
          // margin-right: pxToRem(8);
          width: pxToRem(12);
          height: pxToRem(12);
          // margin-left: pxToRem(4);
          // margin-top: pxToRem(8);
          border-radius: 50%;
          background-color: $pallete-primary-main;
          flex: none;
        }
      }
    }
  }
  &__extended-list {
    margin-top: pxToRem(45);
    max-width: pxToRem(963);
    margin-left: auto;
    margin-right: auto;
    @include desktop {
      padding-left: calc(35px + env(safe-area-inset-left));
      padding-right: calc(37px + env(safe-area-inset-right));
    }
    
    @include desktop-extra {
      margin-top: pxToRem(41);
    }
    .faq__extended-item {
      position: relative;
      border-bottom: pxToRem(1) solid #86b7db;
      
      padding-left: calc(30px + env(safe-area-inset-left));
      padding-right: calc(30px + env(safe-area-inset-right));
      padding-top: 0;
      padding-bottom: pxToRem(18.5);
      @include desktop {
        padding-left: 0;
        padding-right: 0;
      }

      .faq__extended-item-title {
        display: flex;
        margin: 0;
        color: $pallete-common-grey-900;
        letter-spacing: 0.016rem;
        padding-top: pxToRem(18.5);
        padding-bottom: pxToRem(13);
        gap: pxToRem(17);
        @include tablet {
          font-size: pxToRem(20);
        }
        @include desktop-extra {
          padding-bottom: pxToRem(14);
        }
        &::before {
          content: "";
          display: block;
          flex: none;
          color: $pallete-common-grey-900;
          width: pxToRem(14);
          height: pxToRem(14);
          margin-top: pxToRem(7);
          border-bottom: pxToRem(4) solid $pallete-common-grey-900;
          border-left: pxToRem(4) solid $pallete-common-grey-900;
          transform: rotate(-45deg);
          transform-origin: 45% 45%;
        }
      }
      &-subtitle {
        display: none;
        padding-left: pxToRem(40);
        line-height: pxToRem(26);
        letter-spacing: -0.024rem;
        @include desktop-extra {
          padding-left: pxToRem(35);
        }
      }
    }
    .active {
      & > p {
        display: block;
      }
      & > h4::before {
        transform: rotate(135deg) translate(pxToRem(3),pxToRem(-6))!important;
      }
    }
  }
}