.hero {
  @include tablet {
    padding-top: pxToRem(31);
    padding-bottom: pxToRem(14);
  }
  &__content {
    flex-basis: 50%;
    .breadcrumbs {
      display: flex;
      // width: fit-content;
      margin-left: pxToRem(-7);
      flex-wrap:wrap;
      &__item {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
          content: '';
          display: block;
          width: pxToRem(6);
          height: pxToRem(6);
          transform: rotate(-135deg);
          margin-left: pxToRem(-1);
          border-bottom: pxToRem(2) solid $pallete-primary-dark;
          border-left: pxToRem(2) solid $pallete-primary-dark;
        }
        &:last-child::after {
          display: none;
        }
        // @include tablet {
        //   &:first-child {
        //     display: flex;
        //   }
          
        // }
      }
      &__link {
        font-family: "Montserrat", $sans-serif;
        font-weight: normal;
        font-size: pxToRem(12);
        color: $pallete-primary-dark;
        padding: pxToRem(7) pxToRem(6.5);
        display: flex;
        @include mobile {
          font-size: pxToRem(16);
        }
        @include desktop-extra {
          padding: pxToRem(16) pxToRem(10);
        }
      }
    }
  }
  .hero__wrapper {
    position: relative;
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    .hero__title {
      text-align: center;
      margin-top: pxToRem(36);
      margin-bottom: pxToRem(12);
      @include tablet {
        text-align: left;
        // margin-bottom: pxToRem(36);
        margin-top: pxToRem(99);
        margin-bottom: pxToRem(99);
      }
      @include desktop {
        margin-top: pxToRem(119);
        margin-bottom: pxToRem(119);
      }
      @include desktop-extra {
        margin-top: pxToRem(109);
        margin-bottom: pxToRem(109);
      }
    }
    .hero__img-wrapper {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      @include desktop-extra {
        padding-left: pxToRem(43);
      }
      .hero__img {
        height: auto;
        max-height: pxToRem(202);
        width: pxToRem(216);
        @include tablet {
          // height: pxToRem(298);
          // width: pxToRem(308);
        }
        @include tablet {
          min-width: pxToRem(216);
          min-height: pxToRem(202);
          max-height: pxToRem(431);
          height: auto;
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}