.info {
  &__wrapper {
    margin-left: 3px;
    text-align: left;
    @include desktop {
      display: flex;
      justify-content: space-between;
      margin-left: 0;
    }

    .info__content {

      &:first-child {
        margin-bottom: 61px;
      }
      @include desktop {
        flex-basis: 49%;
        padding-right: 110px;
      }
      &-title {
        font-size: 20px;
        color: $pallete-primary-main;
        text-align: center;
        margin: 17px auto;
        @include desktop {
          text-align: left;
          font-size: 24px;
          margin: 16px auto;
        }
      }
      &-text-wrapper {
        margin-top: 24px;
      }
      .hero_text {

        margin-bottom: 12px;
      }
    }
    }
}