#animations-loading:target {
  .info {
    &__item {
      opacity: 0;
      animation: slideIn 0.4s 1.95s forwards;
    }
  }
}

.info {
  padding-bottom: pxToRem(47);

  @include media(0, $desktop) {
    padding-top: pxToRem(20);
  }

  @include desktop {
    padding-top: pxToRem(16);
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 28px;
  }

  &__item {
    @include media(0, $desktop) {
      padding-bottom: pxToRem(59);
    }

    &:last-child {
      padding-bottom: 0;
    }

    @include desktop {
      flex-basis: 49%;
      padding-bottom: 0;
    }

  }

  &__title {
    margin-top: 0;
    
    @include media(0, $desktop) {
      text-align: center;
      margin-bottom: pxToRem(21);
    }

    @include desktop {
      max-width: pxToRem(553);
      margin-bottom: pxToRem(18);
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: pxToRem(30);

    @include desktop {
      max-width: pxToRem(553);
    }
  }
}
