.main {
  margin-top: 43px;

  .breadcrumbs {
    display: flex;
    width: fit-content;
    &__item {
      margin-right: 25px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        right: -15px;
        top: 7px;
        transform: rotate(-135deg);
        border-bottom: 2px solid $pallete-primary-dark;
        border-left: 2px solid $pallete-primary-dark;
      }
      &:last-child::after {
        width: 0;
        height: 0;
        border: 0;
      }
    }
    &__link {
      font-family: "Montserrat";
      font-weight: normal;
      font-size: 16px;
      color: $pallete-primary-dark;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    .main__title {
      margin-top: 121px;
    }
    .main__info {
      width: 553px;
      h2 {
        margin: 0 auto 13px auto;
      }
    }
  }

  &__review {
    margin: 0 auto;
    display: flex;
    align-items: center;
    &__review-count {
      display: flex;
      align-items: center;
    }
    &-text {
      font-weight: bold;
    }
    &-button {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 16px;
      line-height: 36px;
      width: max-content;
      padding: 0 10px;
      background-color: $pallete-secondary-main;
      color: #fff;
    }
  }
}