.projects {
  margin-top: 302px;
  padding-bottom: 90px;
  margin-bottom: 96px;
  background-color: #f6f9fd;
  position: relative;
  z-index: 1;
  @include desktop-extra {
    margin-top: 337px;
    // padding-bottom: 90px;
    z-index: 0;
    padding-top: 62px;
    margin-bottom: 225px;
  }
  &::before, &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::before {
    background-image: url(../../../img/projects-upper-wave.svg);
    background-position: -40px 8px;
    background-size: 140% 154px;
    height: 150px;
    margin-top: -150px;
    @include desktop-extra {
      background-position: 0px 8px;
      background-size: 101% 100%;
      margin-top: -212px;
    }
  }
  &::after {
    background-image: url(../../../img/projects-lower-wave.svg);
    background-position: 0 90px;
    background-size: 106% 94px;
    height: 185px;
  }

  &__title {
    margin-bottom: 59px;
    @include desktop-extra {
      margin-bottom: 94px;
    }
  }

  .slider {
    position: relative;
    &__arrow-wrapper {
      cursor: pointer;
      border: 0;
      // width: auto;
      // height: auto;
      width: 30px;
      height: 30px;
      position: absolute;
      // top: calc(50% - 15px);
      min-width: auto;
      @include media-min($desktop-extra-large) {
        // top: calc(58% - 15px);
      }
      .slider__arrow {
        display: none;
        @include desktop {
          display: block;
          border-left: 8px solid #84b5ff;
          border-bottom: 8px solid #84b5ff;
          width: 30px;
          height: 30px;
        }
      }
    }
    .left-arrow {
      transform: rotate(45deg);
      left: 5px;
      top: calc(47.5% - 15px);
      @include media-min($desktop-extra-large) {
        left: -71px;
      }
    }
    .right-arrow {
      transform: rotate(-135deg);
      right: 5px;
      top: calc(49.5% - 15px);
      @include media-min($desktop-extra-large) {
        right: -70px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
      }
      &::-moz-scrollbar {
        width: 0;
      }
      @include desktop {
        overflow: auto;
        flex-direction: row;
        gap: 80px;
        width: 80%;
        padding: 25px;
        margin: 0 auto;
      }
      @include media-min($desktop-extra-large) {
        width: 100%;
        // overflow: visible;
        // padding: 0;
      }
      .slider__item {
        overflow: hidden;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
        border-radius: 16px;
        margin-bottom: 39px;
        max-width: 320px;
        @include desktop {
          flex: none;
          margin-bottom: 0;
          &:last-child {
            margin-right: 0;
          }
        }
        @include desktop-extra {
          max-width: 400px;
          height: 438px;
        }
        &:last-child {
          margin-bottom: 0;
        }

        &-link {
          position: absolute;
          width: 100%;
          height: 100%;
        }
  
        &-content {
          padding: 12px 13px 20px;
          @include desktop-extra {
            padding-top: 18px;
          }
          .slider__item-title {
            margin: 4px 0 13px;
            letter-spacing: 0.05em;
            font-size: 18px;
            @include desktop-extra {
              font-size: 24px;
            }
          }
    
          .slider__item-text {
            @include desktop-extra {
              width: 98%;
            }
          }
        }
      }
    }
  }
}