.proposal {
    position: relative;
    text-align: center;
    z-index: 1;
    
    @include media(0, $desktop-extra) {
        margin-bottom: pxToRem(149);
        margin-top: pxToRem(63);
    }

    @include desktop-extra {
        margin-bottom: pxToRem(283);
        margin-top: pxToRem(212);
    }

    @media print {
        page-break-before: always;
    }

    &__wave {
        margin-left: pxToRem(-50);

        @include media(0, $desktop-extra) {
            width: 126%;
            margin-bottom: pxToRem(-6);
            height: pxToRem(86);
        }
        path {
            @include light-theme {
                fill: var(--pallete-proposal-background-light);
            }

            @include dark-theme {
                fill: var(--pallete-footer-background);
            }
        }

        @include desktop-extra {
            height: 129px;
            margin-bottom: pxToRem(-6);
            width: 104%;
        }

        @media print {
            display: none;
        }
    }

    &::after {
        content: "";
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        z-index: -1;
        background-position: 0 0;
        -webkit-mask-image: url(../../../img/proposal-lower-wave.svg);
        -webkit-mask-repeat: no-repeat;

        @include light-theme {
            background-color: var(--pallete-proposal-background-light);
        }

        @include dark-theme {
            background-color: var(--pallete-footer-background);
        }

        @include media(0, $desktop-extra) {
            -webkit-mask-size: 100% pxToRem(61);
            background-size: 100% pxToRem(61);
            bottom: pxToRem(-139);
            height: pxToRem(140);
        }

        @include desktop-extra {
            -webkit-mask-size: 100% pxToRem(154);
            background-size: 100% pxToRem(154);
            height: pxToRem(351);
            bottom: pxToRem(-345);
        }
    }
    &__wrapper {
        @include light-theme {
            background-color: var(--pallete-proposal-background-light);
        }

        @include dark-theme {
            background-color: var(--pallete-footer-background);
        }

        @include media(0, $tablet) {
            padding-top: 7px;
        }

        @include media(0, $desktop-extra) {
            padding-bottom: pxToRem(32);
        }

        @include media($tablet, $desktop-extra) {
            padding-top: pxToRem(20);
        }

        @include desktop-extra {
            padding: pxToRem(68) 0;
            padding-bottom: pxToRem(74);
        }
    }
    &__title {
        margin-top: 0;

        @include light-theme {
            color: var(--pallete-common-grey-100);
        }

        @include dark-theme {
            color: var(--empty-star-color);
        }

        @include media(0, $desktop-extra) {
            margin-bottom: pxToRem(12);
        }

        @include desktop-extra {
            margin-bottom: pxToRem(17);
        }
    }
    &__subtitle {
        margin-top: 0;

        @include light-theme {
            color: var(--pallete-common-grey-100);
        }

        @include dark-theme {
            color: var(--empty-star-color);
        }

        @include media(0, $desktop-extra) {
            margin-bottom: pxToRem(23);
            line-height: pxToRem(20);
        }

        @include desktop-extra {
            font-size: pxToRem(24);
            line-height: pxToRem(29);
            margin-bottom: pxToRem(36);
        }
    }

    &__button {
        color: var(--pallete-secondary-main);
        margin-left: auto;
        margin-right: auto;

        @include light-theme {
            background-color: var(--pallete-common-grey-100);
        }

        @include dark-theme {
            background-color: var(--pallete-footer-background);
        }
        
        &:hover {
            background-color: var(--pallete-secondary-main);
            color: var(--pallete-common-grey-100);
        }
    }
}