.reviews {
  padding-top: 85px;
  padding-bottom: 37px;
  @include desktop {
    padding-top: 17px;
    // padding-top: 44px;
  }
  &__block {
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 16px;  
    text-align: center;
    // margin-top: 85px;
    padding: 32px 0 54px;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px;
    }
    @include desktop {
      width: 898px;
      margin: 0 auto;
    }
    .reviews__review-count {
      margin-bottom: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      span, img{
        margin-right: 10.8px;
       &:last-child {
         margin-right: 0;
       }
      }
      @include tablet {
        margin-bottom: 0;
      }
    }
    .reviews__review-img {
      margin-bottom: 29px;
      @include tablet {
        margin-bottom: 0;
      }
    }
    &-count {
      display: flex;
      align-items: center;
      margin: 3px 90px 0 68px;
      img {
        margin-left: 10px;
      }
    }
    .reviews__review-text {
      font-weight: bold;
    }
  
    .reviews__button {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 16px;
      line-height: 36px;
      width: 220px;
      padding: 0 10px;
      background-color: $pallete-secondary-main;
      color: #fff;
    }

  }
}