.reviews {
  // margin-top: 78px;
  // margin-bottom: 40px;
  padding-top: 47px;
  padding-bottom: 39px;
  @include desktop-extra {
    // margin-top: 52px;
    padding-bottom: 99px;
  }
  &__content {
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 16px;  
    text-align: center;
    padding: 32px 0 54px;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px;
    }
    @include desktop {
      max-width: 898px;
      margin: 0 auto;
    }
    .reviews__count {
      margin-bottom: 41px;
      display: flex;
      justify-content: center;
      align-items: baseline;
      gap: 7px;
      @include tablet {
        gap: 0;
      }
      span {
        margin-right: 2px;
        @include tablet {
          margin-right: 10.8px;
        }
        &:last-child {
          margin-right: 0;
          @include desktop {
            margin-left: 11px;
          }
        }
      }
      @include tablet {
        margin-bottom: 0;
      }
      .reviews__rating {
        &::before {
          content: '★★★★★';
          font-size: 24px;
          --rating: 4.5;
          --percent: calc((var(--rating) / 5) * 100% - 3%);
          background: linear-gradient(90deg, $star-fill-color var(--percent), $star-color var(--percent));
          background-clip: text;
          -moz-background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include media-min($mobile-small) {
            letter-spacing: 0.4em;
          }
        }
      }
    }
    .reviews__img {
      margin-bottom: 21px;
      @include tablet {
        margin-bottom: 0;
      }
    }
    // &-count {
    //   display: flex;
    //   align-items: center;
    //   margin: 3px 90px 0 68px;
    // }
    .reviews__text {
      font-weight: bold;
    }
  
    .reviews__button {
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 16px;
      line-height: 36px;
      width: 220px;
      padding: 0 10px;
      background-color: $pallete-secondary-main;
      color: #fff;
      background: $pallete-secondary-main;
      border: 2px solid $pallete-secondary-main;
      border-radius: 6px;
      display: block;
      margin: 0 auto;
      &:hover {
        background-color: transparent;
        color: $pallete-secondary-main;
      }
      @include tablet {
        margin: 0;
      }
      @include desktop-extra {
        padding: 4px 10px;
      }
    }

  }
}