.services {
  @include media(0, $desktop-extra) {
    padding-top: pxToRem(40);
    padding-bottom: pxToRem(39);
  }
  @include desktop-extra {
    padding-top: pxToRem(96);
    padding-bottom: pxToRem(51);
  }
  &__title {
    @include media(0, $desktop-extra) {
      margin-bottom: pxToRem(38);
    }
    @include desktop-extra {
      margin-bottom: pxToRem(72);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include media(0, $mobile-extra-small) {
      column-gap: pxToRem(29);
    }
    @include media-min($mobile-extra-small) {
      column-gap: pxToRem(20);
    }
    @include media(0, $desktop) {
      row-gap: pxToRem(40);
    }
    @include desktop {
      row-gap: pxToRem(60);
    }
    .services__item {
      box-shadow: 0 pxToRem(3) pxToRem(16) pxToRem(4) rgba(0,0,0, 0.2);
      border-radius: pxToRem(16);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include light-theme {
        background-color: var(--pallete-sevices-cards-background-light);
      }
      @include dark-theme {
        background-color: var(--pallete-sevices-cards-background-dark);
        // border: 1px solid var(--border-color);
      }
      @include media(0, $tablet) {
        min-height: pxToRem(162);
        width: pxToRem(145);
        padding: pxToRem(4);
      }
      @include media($tablet, $desktop) {
        min-height: pxToRem(208);
        width: pxToRem(193);
      }
      @include tablet {
        padding: pxToRem(10);
      }
      @include desktop {
        min-height: pxToRem(280);
        width: pxToRem(282);
      }
      @include desktop-extra {
        min-width: pxToRem(322);
        height: pxToRem(320);
      }
      &:hover {
        transition: .25s ease-in;
        @include light-theme {
          background-color: var(--pallete-common-grey-100);
        }
        @include dark-theme {
          background-color: var(--pallete-common-grey-900);
          // border-color: var(--pallete-common-grey-900);
        }
      }
      &-wrapper {
        display: flex;
        @include media(0, $tablet) {
          max-width: pxToRem(52);
          min-height: pxToRem(52);
          max-height: pxToRem(52);
        }
        @include media(0, $desktop-extra) {
          margin: pxToRem(30.5) 0 pxToRem(22);
        }
        @include media($tablet, $desktop) {
          max-width: pxToRem(70);
          min-height: pxToRem(70);
          max-height: pxToRem(70);
        }
        @include media($desktop, $desktop-extra) {
          max-width: pxToRem(90);
          min-height: pxToRem(90);
          max-height: pxToRem(90);
        }
        @include desktop-extra {
          max-width: pxToRem(112);
          min-height: pxToRem(112);
          max-height: pxToRem(112);
          margin: pxToRem(57) auto pxToRem(48);
        }
        svg {
          object-fit: scale-down;
          width: 100%;
          height: auto;
          overflow: visible;
        }
      }
      &-title {
        color: var(--pallete-primary-main);
        margin: 0;
        @include media(0, $tablet) {
          font-size: pxToRem(12);
          line-height: pxToRem(22);
        }
        @include media($tablet, $desktop) {
          font-size: pxToRem(15);
        }
        @include media($desktop, $desktop-extra) {
          margin-top: pxToRem(40);
        }
        @include desktop {
          font-size: pxToRem(20);
          line-height: pxToRem(30);
        }
        @include desktop-extra {
          margin-top: 0;
        }
      }
    }
    .services__item:hover {
      #servicesGear, #triangle {
        animation: rotate 2s 0s 1 linear;
        transform-origin: center;
        transform-box: fill-box;
        animation-direction: normal;
      }
      #gamepadButtons {
        // transition: 1s;
        path:nth-child(1) {
          animation: pressButton .3s 0s 1 ease;
        }
        path:nth-child(2) {
          animation: pressButton .3s .2s 1 ease;
        }
        path:nth-child(3) {
          animation: pressButton .3s .4s 1 ease;
        }
        path:nth-child(4) {
          animation: pressButton .3s .6s 1 ease;
        }
        path:nth-child(5) {
          animation: pressButton .3s .8s 1 ease;
        }
      }

      #vr {
        animation: shake 1.2s 0s 1 ease-out forwards;
      }
      #code {
        path:nth-child(1) {
          animation: accordionPart1 1s 0s 1 ease-out forwards;
        }
        path:nth-child(2) {
          animation: accordionPart2 1s 0s 1 ease-out forwards;
        }
        path:nth-child(3) {
          animation: accordionPart3 1s 0s 1 ease-out forwards;
        }
      }
      #screwdriver {
        animation: diagonalShake 1s 0s 1 ease-out forwards;
      }
      #cubeEdges {
        path:nth-child(1) {
          animation: cubeEdgeShakePart1 1s 0s 1 ease-out forwards;
        }
        path:nth-child(2) {
          animation: cubeEdgeShakePart2 1s 0s 1 ease-out forwards;
        }
        path:nth-child(3) {
          animation: cubeEdgeShakePart3 1s 0s 1 ease-out forwards;
        }
      }
    }
  }
}