.services {
  padding: 25px 0;
  &__title {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 38px;
    margin-top: 20px;
    @include tablet {
      font-size: 30px;
    }
    @include desktop {
      font-size: 36px;
    }
    @include desktop-extra {
      margin-top: 135px;
      margin-bottom: 78px;
      letter-spacing: 0.1em;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 29px;
    @include media-min($mobile-extra-small) {
      // justify-content: space-around;
      gap: 20px;
    }
    .services__item {
      background: #F4F8FD;
      box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
      border-radius: 16px;
      text-align: center;
      width: 145px;
      height: 162px;
      padding: 0 5px 10px;
      margin-bottom: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        background-color: #fff;
      }
      @include tablet {
        height: 208px;
        width: 193px;
        padding: 0 10px 10px;
      }
      @include desktop {
        height: 280px;
        width: 282px;
      }
      @include desktop-extra {
        width: 322px;
        height: 320px;
        margin-bottom: 40px;
      }
      img {
        width: 52px;
        height: 52px;
        margin: 34px 0 22px;
        @include tablet {
          width: 70px;
          height: 70px;
        }
        @include desktop {
          height: 90px;
          width: 90px;
        }
        @include desktop-extra {
          width: 112px;
          height: 112px;
          margin: 65px auto 50px;
        }
      }
      &-title {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: $pallete-primary-main;
        margin: 0;
        @include tablet {
          font-size: 15px;
        }
        @include desktop {
          font-size: 20px;
          line-height: 30px;
          margin-top: 40px;
        }
        @include desktop-extra {
          margin-top: 0;
        }
      }
    }
  }
}