.socials {
  display: none;
  @include desktop-extra {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 pxToRem(2) pxToRem(12) pxToRem(1) rgba(29, 51, 107, 0.25);
    background-color: #fff;
    border-radius: pxToRem(3);
    z-index: 100;
    &__item {
      position: relative;
      text-align: center;
      width: pxToRem(48);
      height: pxToRem(48);
      border-bottom: 1px solid rgba(29,51,107,.25);
      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
    
    &__link {
      height: 100%;
      left: 0;
      padding: pxToRem(12);
      position: absolute;
      top: 0;
      width: 100%;
      .socials__icon {
        display: block;
        height: pxToRem(24);
        width: pxToRem(24);
        fill: #0D6EB7;
      }
    }
  
    &__link::after {
      bottom: pxToRem(-10);
      width: pxToRem(48);
      border-bottom: pxToRem(1) solid $pallete-primary-main;
    }
  }
}