.socials {
  @include media(0, $desktop-extra) {
    display: none;
  }

  @include desktop-extra {
    inset: 0;
    align-items: center;
    border-radius: pxToRem(3);
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
    flex-direction: row-reverse;
    pointer-events: none;

    &__item {
      position: relative;
      text-align: center;
      width: pxToRem(48);
      height: pxToRem(48);
      box-shadow: 0 pxToRem(7) pxToRem(12) pxToRem(2) rgba(0, 0, 0, 0.25);

      @include light-theme {
        background-color: var(--pallete-common-grey-100);
        border-bottom: 1px solid rgba(29, 51, 107, 0.25);
      }

      @include dark-theme {
        background-color: var(--pallete-common-grey-900);
        border-bottom: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
      }

      &:nth-child(1) {
        border-top: 1px solid var(--border-color);
      }
      
      &:nth-child(4) {
        margin-bottom: 0;

        @include light-theme {
          border-bottom: 0;
        }
      }
    }

    &__list {
      flex: none;
      z-index: 100;
      pointer-events: auto;
    }
    
    &__link {
      height: 100%;
      left: 0;
      padding: pxToRem(12);
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__icon {
      display: block;
      height: pxToRem(24);
      width: pxToRem(24);
      fill: #0d6eb7;
    }
  }
}
