html[dir="rtl"] {
  #animations-loading:target {
    .socials {
      &__item {
        &:nth-child(1) {
          transform: translateX(-100%);
          animation: socialsSlideInReversed 0.5s 0.3s ease-out forwards;
        }
        
        &:nth-child(2) {
          transform: translateX(-100%);
          animation: socialsSlideInReversed 0.5s 0.6s ease-out forwards;
        }

        &:nth-child(3) {
          transform: translateX(-100%);
          animation: socialsSlideInReversed 0.5s 0.9s ease-out forwards;
        }

        &:nth-child(4) {
          transform: translateX(-100%);
          animation: socialsSlideInReversed 0.5s 1.2s ease-out forwards;
          margin-bottom: 0;
          border-bottom: 0;
        }
      }
    }
  }
}

#animations-loading:target {
  .socials__item {
    &:nth-child(1) {
      transform: translateX(100%);
      animation: socialsSlideIn 0.5s 0.3s ease-out forwards;
    }

    &:nth-child(2) {
      transform: translateX(100%);
      animation: socialsSlideIn 0.5s 0.6s ease-out forwards;
    }
    
    &:nth-child(3) {
      transform: translateX(100%);
      animation: socialsSlideIn 0.5s 0.9s ease-out forwards;
    }

    &:nth-child(4) {
      transform: translateX(100%);
      animation: socialsSlideIn 0.5s 1.2s ease-out forwards;
    }
  }
}
