.footer {

}

.socials {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 2px 12px 1px rgba(29, 51, 107, 0.25);
  border-radius: 3px;
  padding: 12px 0;
  &__item {
    position: relative;
    margin-bottom: 24px;
    text-align: center;
    &::after {
      content: '';
      width: 48px;
      height: 2px;
      position: absolute;
      background-color: rgba(29, 51, 107, 0.25);
      right: 0;
      bottom: -12px;
    }
    &:last-child {
      margin-bottom: 0;
      &::after {
        width: 0;
        height: 0;
      }
    }
    @media screen and (max-width: $desktop-extra) {
      display: none;
    }
  }
  
  &__link {
    padding: 12px;

  }

  &__link::after {
    bottom: -10px;
    width: 48px;
    border-bottom: 1px solid $pallete-primary-main;
  }
}