@media screen and (max-width: $desktop-extra) {
	body#main:not(:target) #main-menu{
		margin-left: -110%;
	}
	body#main:target {
		overflow: hidden;
	
		#main-menu {
			margin-left: 0;
			width: 100%;
		}
	}
}

.header {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 36px;
	padding: 8px 0;
	@media screen and (max-width: $mobile) {
		margin-top: 1px;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		// margin-top: 7px;
		@media screen and (max-width: $mobile){
			align-items: end;
		}
		.logo {
			display: block;
			// padding: 5px 0px;
			@media screen and (max-width: $mobile) {
				width: 141px;
				height: 35px;	
			}
		}

		.header__main-menu {
			display: flex;
			z-index: 1;

			@media screen and (max-width: $desktop-extra) {
				display: block;
				left: 0;
				top: 0;
				position: fixed;
			}
			&-text {
				display: none;
				@media screen and (max-width: $desktop-extra) {
					display: block;
				}
			}
		}

		.header__burger {
			display: none;
			right: 30px;
			padding: 10px;
			@media screen and (max-width: $desktop-extra) {
				display: block;
				.header__burger-line {
					width: 26px;
					height: 4px;
					background-color: $pallete-primary-dark;
					margin-bottom: 4px;
					border-radius: 2px;
				}
				.main-menu__list {
					display: none;
				}

			}
			@media screen and (max-width: $mobile){
				right: 30px;
				padding-right: 0;
			}
		}
		
		
		.contact-btn {
			z-index: 1;
			font: inherit;
			color: $pallete-secondary-main;
			margin-left: 114px;
			&:hover {
					background-color: $pallete-secondary-main;
					color: $pallete-common-grey-100;
			}
			@media screen and (max-width: $desktop-extra) {
				display: block;
				margin-left: 0;
			}

			@media screen and (max-width: $desktop) {
				margin-bottom: 60px;
			}

			@media screen and (max-width: $mobile) {
				margin-bottom: 120px;
			}
		}
		li.main-menu__item.dropdown {
			margin-right: 24px;
			&:last-child {
				margin-right: 0;
			}
			@media screen and (max-width: $desktop-extra) {
				margin-right: 0;
			}
		}

		.main-menu__list {
			display: flex;
			align-items: center;
			// margin-top: 15px;
			@media screen and (max-width: $desktop-extra) {
				padding: 20px;
				display: block;
				top: 0;
				left: 0;
				background-color: #fff;
				box-shadow: 14px 0px 10px -7px rgba(0,0,0,0.3);
				height: 100vh;
    		overflow: auto;
				margin-top: 0;
				width: fit-content;
				z-index: 2;
				transition: .5s ease-in-out;
				.header__main-menu-text {
					border: 0;
					font-weight: normal;
					text-align: right;
					color: $pallete-secondary-main;
					margin: 0 auto 10px auto;
					width: 100%;
				}
				.main-menu__item::after {
					width: 0;
					height: 0;
					border: 0;
				}
				.dropdown__content {
					position: relative;
					display: block;
					background-color: transparent;
					border: 0;
					box-shadow: none;

					@media screen and (max-width: $desktop-extra) {
						padding: 0 0 0 16px;
						.dropdown__link {
							font-size: 13px;
							font-weight: normal;
						}
					}
				}
			}
			@media screen and (max-width: $mobile-middle) {
				width: 90%;
			}
			@media screen and (max-width: $mobile) {
				padding: 8px 20px 0 48px;
				.header__main-menu-text {
					margin: 0 auto;
					font-weight: bold;
				}
			}
			@media screen and (max-width: $mobile-small) {
				width: fit-content;
			}
			@media screen and (max-width: $mobile-extra-small) {
				width: 100%;
				padding: 8px 20px 0 28px;
			}
		}

		.main-menu__item {
			display: block;
			// margin-right: 26px;
			.main-menu__link {
				color: $pallete-primary-main;
				padding: 15px 11px 13px 10px;
				@media screen and (max-width: $desktop-extra) {
					font-size: 15px;
					font-weight: normal;
				}
				&:hover {
					color: $pallete-primary-light;
					.main-menu__item {
						&:first-child {
							&::after {
								border-bottom: 2px solid $pallete-primary-light;
								border-left: 2px solid $pallete-primary-light;
							}
						}
					}
				}
			}
		}
	}
}
