body#main:not(:target) #main-menu {
  transform: translateX(-110%);
  @include desktop {
    transform: translateX(0);
  }
}
body#main:target {
  overflow: hidden;
  @include desktop {
    overflow: auto;
  }

  #main-menu {
    transform: translateX(0);
    width: 100%;
    display: flex;
    @include desktop {
      background-color: transparent;
    }
    .main-menu__backdrop {
      width: 100%;
      @include desktop {
        display: none;
      }
    }
  }
}

.header {
  font-family: "Montserrat", $sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: pxToRem(16);
  line-height: pxToRem(36);
  .container {
    padding: 0 pxToRem(15);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: pxToRem(5);
    padding-top: pxToRem(2);

    @include desktop {
      padding-bottom: pxToRem(12);
      padding-top: pxToRem(6);
    }
    @include desktop-extra {
      padding-bottom: pxToRem(19);
      padding-top: pxToRem(7);
      gap: pxToRem(136);
    }
    .logo {
      display: block;
      padding: pxToRem(7) pxToRem(15);
      flex: none;
      @include desktop-extra {
        padding: 0;
        padding-bottom: pxToRem(3);
      }
      img {
        width: pxToRem(141);
        height: pxToRem(38);
        @include desktop-extra {
          width: pxToRem(208);
          height: pxToRem(52);
        }
      }
    }
    .header__main-menu-wrapper {
      z-index: 1;
      display: block;
      left: 0;
      top: 0;
      position: fixed;
      transition: .6s ease;
      @include desktop {
        position: relative;
        width: auto;
      }
      @include desktop-extra {
        width: 100%;
      }
      .header__main-menu {
        max-width: pxToRem(275);
        width: 100%;
        flex: none;
        box-shadow: pxToRem(14) 0 pxToRem(10) pxToRem(-7) rgba(0, 0, 0, 0.3);
        height: 100vh;
        overflow: auto;
        background-color: #fff;
        padding-bottom: calc(77px + env(safe-area-inset-bottom));
        @include tablet {
          min-width: pxToRem(365);
        }
        @include desktop {
          display: flex;
          margin-left: 0;
          position: relative;
          max-width: 100%;
          box-shadow: none;
          background-color: transparent;
          position: relative;
          align-items: center;
          height: auto;
          justify-content: space-between;
          gap: pxToRem(10);
          overflow: visible;
          padding-bottom: 0;
          align-items: flex-end;
        }

        @include media-min(pxToRem(1075, em)) {
          gap: pxToRem(50);
        }

        @include desktop-extra {
          gap: pxToRem(28);
        }

        &-text {
          display: block;
          @include desktop {
            display: none;
          }
        }

        .main-menu__list {
          display: block;
          margin-top: 0;
          z-index: 2;
          transition: 0.5s ease-in-out;

          @include desktop {
            display: flex;
            height: auto;
            align-items: center;
            padding: 0;
            overflow: initial;
          }

          .main-menu__link-wrapper {
            display: flex;
            justify-content: flex-end;
            .header__main-menu-text {
              font-size: pxToRem(15);
              border: 0;
              padding: pxToRem(5) pxToRem(17);
              font-weight: normal;
              text-align: right;
              color: $pallete-secondary-main;
              width: fit-content;
            }
          }

          .main-menu__item {
            display: block;
            @include desktop {
              &:hover {
                .dropdown__content {
                  display: block;
                }
              }
            }
            .main-menu__link {
              display: block;
              font-size: pxToRem(15);
              font-weight: normal;
              color: $pallete-primary-main;
              position: relative;
              padding-left: pxToRem(48);
              line-height: 1rem;
              padding-top: pxToRem(5.5);
              padding-bottom: pxToRem(5.5);
              padding-right: pxToRem(35);
              @include desktop {
                padding: pxToRem(15) pxToRem(6.5);
                font-weight: bold;
              }
              @include desktop-extra {
                padding: pxToRem(13) pxToRem(10.5);
                font-size: pxToRem(16);
              }
              &:hover {
                color: $pallete-primary-light;
                &::after {
                  color: $pallete-primary-light;
                }
                .main-menu__item {
                  &:first-child {
                    &::after {
                      border-bottom: pxToRem(2) solid $pallete-primary-light;
                      border-left: pxToRem(2) solid $pallete-primary-light;
                    }
                  }
                }
              }
            }
            a.main-menu__link.dropdown__menu-link {
              @include desktop {
                display: flex;
              }
              @include desktop-extra {
                padding-right: pxToRem(12.5);
                padding-left: pxToRem(12.5);
              }
            }
          }

          .main-menu__item::after {
            width: 0;
            height: 0;
            border: 0;
          }
          .dropdown__content {
            display: block;
            border: 0;
            box-shadow: none;
            margin: 0;
            padding: 0;
            li.main-menu__item.dropdown {
              &:last-child {
                margin-right: 0;
              }
            }
            .dropdown__item {
              position: relative;
            }
            .dropdown__link {
              font-size: pxToRem(13);
              font-weight: normal;
              display: block;
              padding: pxToRem(3.75) pxToRem(35) pxToRem(3.75) pxToRem(66);
              line-height: 1rem;
              @include desktop {
                font-weight: bold;
                font-size: pxToRem(16);
                padding: pxToRem(10) 0;
              }
            }
            @include desktop {
              border-top: initial;
              display: none;
              width: max-content;
              position: absolute;
              margin-left: pxToRem(11);
              top: pxToRem(36);
              padding: 0 pxToRem(16) pxToRem(16);
              border-top: pxToRem(3) solid $pallete-primary-light;
              box-shadow: pxToRem(2) pxToRem(4) pxToRem(16) rgba(158, 158, 158, 0.4);
            }
          }
        }
      }

      .contact-btn {
        color: $pallete-secondary-main;
        background-color: #fff;
        margin-left: pxToRem(46);
        margin-top: pxToRem(26);
        @include desktop {
          margin-left: 0;
          margin-top: 0;
        }
        &:hover {
          background-color: $pallete-secondary-main;
          color: $pallete-common-grey-100;
        }
      }
    }

    .burger {
      @include desktop {
        display: none;
      }

      padding: pxToRem(15);
      display: block;

      .header__burger-line {
        width: pxToRem(26);
        height: pxToRem(4);
        background-color: $pallete-primary-dark;
        margin-bottom: pxToRem(4);
        border-radius: pxToRem(2);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
