// General
@import "includes/base/vars";
@import "includes/base/mixins";
@import "includes/base/fonts";
@import "includes/base/utils";
@import "includes/base/global";
@import "includes/base/dropdown";

// Blocks
@import "includes/blocks/hero";
@import "includes/blocks/services";
// Vendor
//@import "includes/vendor/**/*";

// Templates
//@import "templates/*";

// Core Templates
@import "footer.scss";
@import "header.scss";
